div.container
  ol.breadcrumb
    li
      a(href="#!/orders") Orders
    li.active Edit #{{$ctrl.order.id}}
  div.panel.panel-default
    div.panel-heading
      h3 Edit #{{$ctrl.order.id}}
    div.panel-body
      include ../../_ng_error_list.jade
      // creation form
      include ./_form.jade
