div.container
  ol.breadcrumb
    li
      a(href="#!/sellers") Sellers
    li.active Create Seller
  div.panel.panel-default
    div.panel-heading
      h3 Create seller
    div.panel-body
      include ../../_ng_error_list.jade
      // creation form
      include ./_form.jade
