if error
  div.row
    div.alert.alert-danger(role="alert")
      ul
        if error.errors
          - errors = error.errors;
          each val, index in errors
            li= val.message
        else
          li= error.message
