div.row(ng-show="$ctrl.error")
  div.alert.alert-danger(role="alert")
    div(ng-show="$ctrl.error.msg")
      | {{$ctrl.error.msg}}
    ul(ng-repeat="error in $ctrl.error.errors")
      li {{error.message}}
