div.container
  ol.breadcrumb
    li
      a(href="#!/customers") Customers
    li.active Create Customer
  div.panel.panel-default
    div.panel-heading
      h3 Create customer
    div.panel-body
      include ../../_ng_error_list.jade
      // creation form
      include ./_form.jade
