div.container
  ol.breadcrumb
    li
      a(href="#!/stocks") Stocks
    li.active Create Stock
  div.panel.panel-default
    div.panel-heading
      h3 Create Stock
    div.panel-body
      include ../../_ng_error_list.jade
      // creation form
      include ./_form.jade
