extends ../layout

block content
  div.row
    div.page-header
      h1 Create Admin
    // error output
    include ../_error_list
    // creation form
    div.col-md-9
      include ./_admin_form.jade
