extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Email:
        div.col-md-11
          = account.email
      if account.account_detail
        - var detail = account.account_detail
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = detail.fullname
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = detail.note
      if is_owner
        div.row
          div.col-sm-3
            a(href="/accounts/update_password",
              role="button")
              | Update Password
          div.col-sm-2
            a(href="/accounts/update_detail",
              role="button")
              | Edit Profile
      if isAdmin
        div.row
          div.col-sm-1
            a.btn.btn-danger(href="/accounts/delete/" + account.id,
              role="button")
              | Delete Account
