extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Email:
        div.col-md-11
          = account.email
      if account.account_detail
        - var detail = account.account_detail
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = detail.fullname
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = detail.note
      if account.admin
        - var admin = account.admin
        div.row
          label.col-md-1 Fullname:
          div.col-md-11
            = admin.fullname
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = admin.note
      if isOwner || isAdmin
          div.col-sm-2
            a(href="/accounts/edit/" + current_account.id,
              role="button")
              | Edit Profile
      if isOwner
        div.row
          div.col-sm-3
            a(href="/accounts/" + current_account.id + "/password/update",
              role="button")
              | Update Password
      if isAdmin
        div.row
          div.col-sm-1
            a.btn.btn-danger(href="/accounts/delete/" + account.id,
              role="button")
              | Delete Account
