extends ../layout

block content
  script(src='/javascripts/orders/order.js')
  script(src='/javascripts/orders/order.config.js')
  script(src='/javascripts/orders/order-list/order-list.module.js')
  script(src='/javascripts/orders/order-list/order-list.component.js')
  script(src='/javascripts/orders/order-detail/order-detail.module.js')
  script(src='/javascripts/orders/order-detail/order-detail.component.js')
  script(src='/javascripts/orders/order-create/order-create.module.js')
  script(src='/javascripts/orders/order-create/order-create.component.js')
  script(src='/javascripts/orders/order-edit/order-edit.module.js')
  script(src='/javascripts/orders/order-edit/order-edit.component.js')
  script(src='/javascripts/orders/order-resource/order.module.js')
  script(src='/javascripts/orders/order-resource/order.service.js')
  script(src='/javascripts/core/instock/instock.filter.js')
  script(src='/javascripts/core/delete-confirm/delete-confirm.directive.js')

  div(ng-view)

