extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Orders List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th ID
              th Total Price
              th Date
          tbody
            for order in orders
              tr
                td
                  a(href='/orders/' + order.id)=order.id
                td=order.total_price
                td=order.created_at
