extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Admins List
    div.panel-body
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th ID
              th FullName
          tbody
            for admin in admins
              tr
                td
                  a(href='/accounts/' + admin.account.id)=admin.id
                td
                  a(href='/accounts/' + admin.account.id)=admin.fullname
