extends ../layout

block content
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Email:
        div.col-md-11
          = current_account.email
      div.row
        label.col-md-1 Fullname:
        div.col-md-11
          = admin.fullname
      div.row
        label.col-md-1 Note:
        div.col-md-11
          = admin.note
      div.row
        div.col-sm-1
          a.btn.btn-danger(href="/admin/delete/" + admin.id,
            role="button")
            | Delete Admin
