div.container
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Profile
    div.panel-body
      div.row
        label.col-md-1 Name:
        div.col-md-11
          = "{{$ctrl.item.name}}"
      div.row
        label.col-md-1 Code:
        div.col-md-11
          = "{{$ctrl.item.code}}"
      div.row
        label.col-md-1 Price:
        div.col-md-11
          = "{{$ctrl.item.price}}"
      div.row
        label.col-md-1 In stock:
        div.col-md-11
          = "{{$ctrl.item.in_stock | instock}}"
      div.row
        label.col-md-1 Description:
        div.col-md-11
          = "{{$ctrl.item.description}}"
      if isAdmin
        div.row
          label.col-md-1 Note:
          div.col-md-11
            = "{{$ctrl.item.note}}"
        div.row
          div.col-sm-2
            a.btn.btn-danger(href="/items/delete/" + "{{$ctrl.item.id}}",
              role="button")
              | Delete Item
          div.col-sm-2
            a.btn.btn-primary(href="/items/edit/" + "{$ctrl.item.id}}",
              role="button")
              | Edit Item
