extends ../layout

block content
  script(src='/javascripts/items/item.js')
  script(src='/javascripts/items/item.config.js')
  script(src='/javascripts/items/item-list/item-list.module.js')
  script(src='/javascripts/items/item-list/item-list.component.js')
  script(src='/javascripts/items/item-detail/item-detail.module.js')
  script(src='/javascripts/items/item-detail/item-detail.component.js')
  script(src='/javascripts/items/item-create/item-create.module.js')
  script(src='/javascripts/items/item-create/item-create.component.js')
  script(src='/javascripts/items/item-edit/item-edit.module.js')
  script(src='/javascripts/items/item-edit/item-edit.component.js')
  script(src='/javascripts/items/item-resource/item.module.js')
  script(src='/javascripts/items/item-resource/item.service.js')

  div(ng-view)
