extends ../layout

block content
  script(src='/javascripts/items/list.js')
  script(src='/javascripts/items/item-list/item-list.module.js')
  script(src='/javascripts/items/item-list/item-list.component.js')

  item-list
